.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        = link_to new_group_path, class: "side-header__box__menu--edit" do
          = fa_icon 'edit', class: "side-header__box__menu__icon"
        = link_to edit_user_path(current_user), class: "side-header__box__menu__cog" do
          = fa_icon 'cog', class: "side-header__box__menu__icon"
  .side-group
    - current_user.groups.each do |group|
      .side-group__box
        = link_to group_messages_path(group) do
          .side-group__box__group-name
            = group.name
          .side-group__box__message
            メッセージはまだありません。